@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Amatic+SC&family=Gochi+Hand&family=Source+Code+Pro&family=VT323&family=Work+Sans:wght@300&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gochi+Hand&family=Reenie+Beanie&display=swap');



body{
  width:100%;
  min-height:100vh;
  background: linear-gradient(135deg,#157277,#95e9d5);  
}
.entirepage{
  background-color: white;
  max-width: 540px;
  margin: 50px auto 20px;
  padding:40px 30px 70px;
  border-radius: 10px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family: 'Gochi Hand', cursive;
  color: rgb(7, 46, 45);
  text-align: center;
  text-decoration: dashed;

  
}
form{
  text-align: center;
}
.inputtingtask{
  font-size: 20px;
  text-align: center;
  border-radius: 05px;
  width: 35%;
  border: none;
  border-color: rgb(29, 120, 117);
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  /*font-family: 'Reenie Beanie', cursive;*/
  font-family: 'Gochi Hand', cursive;

  font-size: xx-large;


}
.tick{
  width: 4px; 
  height: 8px;
}

ul {
  list-style-type:none;
  font-family: 'Gochi Hand', cursive;
  font-size: xx-large;

}
.checkbox{
  border-radius: 1px;
  margin-left: 23%;
  width: 50px;
}
.checkbox.:hover{
  color: red;
}
.tasklist{
  
}
button{
 border:none;
 outline: none;
 padding:16px 50px;
 border-radius: 30px;
background-color: #95e9d5;
font-family: 'Gochi Hand', cursive;
  color: rgb(7, 46, 45);

  font-size: x-large;
}
button:hover{
  background-color: #14dbca;
 
}
